 <!-- ======= About Section ======= -->
 <section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="row">
        <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
          <img src="assets/img/about.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
          <h3>ENSEIGNEMENT SECONDAIRE.</h3>
          <p class="fst-italic">
            École destinée à l'enseignement général après le primaire.
          </p>
          <ul>
            <li><i class="bi bi-check-circle"></i> Selon le contexte, le terme école secondaire peut désigner soit l'organisme, soit le lieu où est donné un enseignement.</li>
            <li><i class="bi bi-check-circle"></i> L'établissement distinct de l'école secondaire qui donne l'enseignement secondaire professionnel est un centre de formation professionnelle.</li>
            <li><i class="bi bi-check-circle"></i> Les personnes qui retournent aux études après l'âge de fréquentation scolaire obligatoire, soit 16 ans, peuvent fréquenter un centre d'éducation des adultes à certaines conditions.</li>
          </ul>
          <p>
            Toutefois, elles ont le droit de fréquenter l'école jusqu'à la fin de l'année scolaire au cours de laquelle elles atteignent l'âge de 18 ans, ou de 21 ans si elles sont handicapées.
          </p>

        </div>
      </div>

    </div>
  </section><!-- End About Section -->