<div class="member">
    <img src="{{inputProf.image}}" class="img-fluid" alt="">
    <div class="member-content">
      <h4>{{inputProf.title}}</h4>
      <span>{{inputProf.specialite}}</span>
      <p>
        {{inputProf.description}}
      </p>
      <div class="social">
        <a href=""><i class="bi bi-twitter"></i></a>
        <a href=""><i class="bi bi-facebook"></i></a>
        <a href=""><i class="bi bi-instagram"></i></a>
        <a href=""><i class="bi bi-linkedin"></i></a>
      </div>
    </div>
  </div>