<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex justify-content-center align-items-center">
  
    <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">
      
      <h1>Bienvenue Aujourd'hui,<br>Bienvenue Demain</h1>
      <h2>MySchool souhaite une bonne année aux élèves</h2>
      <a routerLink="login" class="btn-get-started">Se Connecter</a><br>
      <br>
      <input type="image"   name="Name of image button" src="assets/img/icc.jpg" height="70px" width="70px" alt="text" routerLink="weather" title="Meteo">
      <input type="image"   name="Name of image button" src="assets/img/ballon.webp" height="70px" width="70px" alt="text" routerLink="apiTeams" title="Sport">


    </div>

  </section><!-- End Hero -->