<h1>LISTE DES PUBLICATIONS ELEVES</h1>
<table class="table table-warning">
    <thead>
        <tr>
            <th scope="col">Images</th>
            <th scope="col">ID</th>
            <th scope="col">Titre</th>
            <th scope="col">Message</th>
            <th scope="col">Status</th>
            <th scope="col">NomEleves</th>
            <th scope="col">Telephone</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pub of pageOfItems">
            <td><img class="img-fluid" src="assets/img/lll.jpg" alt="" /></td>
            <th scope="row">{{pub._id}}</th>
            <td>{{pub.titre}}</td>
            <td>{{pub.message}}</td>
            <td>{{pub.status}}</td>
            <td>{{pub.publications[0]?.firstName}} && {{pub.publications[0]?.lastName}}</td>
            <td>{{pub.publications[0]?.telephone}}</td>
            <button type="button" (click)="confirmePublicationsEleves(pub._id)"> <img src="assets/img/conf.jpg" height="50"width="50" /></button>
            <button type="button" (click)="editPublicationsEleves(pub._id)"> <img src="assets/img/edit.png" height="50" width="50" /></button>
            <button type="button" (click)="deletePublicationsEleves(pub._id)" > <img src="assets/img/delet.png" height="50" width="50" /></button>
        </tr>

    </tbody>
    <div class="card-footer pb-0 pt-3">
        <jw-pagination 
       [items]="publications"  [pageSize]="4" (changePage)="onChangePage($event)"></jw-pagination>
       </div>
</table>