<!-- ======= Why Us Section ======= -->
<h1>TOUTES LES SPECIALITES DES l'ECOLES</h1>
<section id="why-us" class="why-us">
    <div class="container" data-aos="fade-up">

      <div class="row">
        <div class="col-lg-4 d-flex align-items-stretch">
          <div class="content">
            <h3>Enseignements de spécialité</h3>
            <p>
              Les enseignements de spécialité sont choisis en seconde et doivent répondre aux goûts et aux motivations des élèves
               dans les domaines qu’ils souhaitent approfondir pour construire leur projet personnel.
                3 enseignements de spécialité sont suivis en classe de première et 2 en classe de terminale (parmi les trois initiaux).
                Voici les enseignements de spécialité retenus au lycée MySchool de Tunis :
            </p>
            <div class="text-center">
              <a href="about.html" class="more-btn">Learn More <i class="bx bx-chevron-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-8 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-boxes d-flex flex-column justify-content-center">
            
            <div class="row">
              <div class="col-lg-6 col-12 text-center" *ngFor="let sect of sections">
                <app-section [inputsection]="sect" ></app-section>
              </div>
              <!-- <div class="col-xl-4 d-flex align-items-stretch">
                <div class="icon-box mt-4 mt-xl-0">
                  <i class="bx bx-cube-alt"></i>
                  <h4>Ullamco laboris ladore pan</h4>
                  <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt</p>
                </div>
              </div> -->
              <!-- <div class="col-xl-4 d-flex align-items-stretch">
                <div class="icon-box mt-4 mt-xl-0">
                  <i class="bx bx-images"></i>
                  <h4>Labore consequatur</h4>
                  <p>Aut suscipit aut cum nemo deleniti aut omnis. Doloribus ut maiores omnis facere</p>
                </div>
              </div> -->
            </div>
          </div><!-- End .content-->
        </div>
      </div>

    </div>
  </section><!-- End Why Us Section -->