<!-- ======= Counts Section ======= -->
<section id="counts" class="counts section-bg">
    <div class="container">

      <div class="row counters" >
        <h1>LES DIRECTIVES D'ECOLES</h1>
        <div class="col-lg-6 col-12 text-center" *ngFor="let direct of directives">
        <app-directions [inputdirectives]="direct" ></app-directions>

        <!-- <div class="col-lg-3 col-6 text-center">
          <span data-purecounter-start="0" data-purecounter-end="64" data-purecounter-duration="1" class="purecounter"></span>
          <p>Courses</p>
        </div> -->

        <!-- <div class="col-lg-3 col-6 text-center">
          <span data-purecounter-start="0" data-purecounter-end="42" data-purecounter-duration="1" class="purecounter"></span>
          <p>Events</p>
        </div> -->

        <!-- <div class="col-lg-3 col-6 text-center">
          <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1" class="purecounter"></span>
          <p>Trainers</p>
        </div> -->

      </div>
      </div>

    </div>
  </section><!-- End Counts Section -->