<app-banner title="PUBLICATIONS DES ELEVES"></app-banner>

<section id="contact" class="contact">
    

    <div class="container" data-aos="fade-up">

      <div class="row mt-5">

        

        <div class="col-lg-8 mt-5 mt-lg-0">
            <h1>PUBLICATIONS DES ELEVES</h1>

          <form  #publicationForm="ngForm" (ngSubmit)="validate()"    action="forms/contact.php" method="post" role="form" class="php-email-form">
            
            <div class="form-group mt-3">
              <input type="text" class="form-control" name="titre" id="titre"   [(ngModel)]="publication.titre" [ngModelOptions]="{standalone: true}"   placeholder="Entrer Titre" required>
            </div>
           
              <div class="form-group mt-3">
                <textarea id="w3review" name="w3review" rows="4" cols="95" [(ngModel)]="publication.message" [ngModelOptions]="{standalone: true}"     > Entrer Message</textarea> 
            </div>
             
            
            <div class="text-center"><button type="submit">AJOUTER</button></div> <br>
            <div class="text-center"><button type="submit" (click)="retour()"  >RETOUR</button></div>
          </form>

        </div>
        <div style="margin:50px" class="serv"> 
        <img class="img-fluid" src="assets/img/papli.png" alt="" />
</div>
      </div>

    </div>
  </section>