<app-banner title="MODIFIER EXAMENS"></app-banner>
<section id="contact" class="contact">
    

    <div class="container" data-aos="fade-up">

      <div class="row mt-5">

        

        <div class="col-lg-8 mt-5 mt-lg-0">
            <h1>Modifier Les Exames Des Eleves</h1>

          <form [formGroup]="modifierForm"  action="" method="post" role="form" class="php-email-form">
            
            <div class="form-group mt-3">
              <input type="text" class="form-control" name="titre" id="titre" formControlName="titre"  placeholder="Entrer Titre Examen" required>
            </div>
            <div *ngIf="modifierForm.controls['titre'].invalid && (modifierForm.controls['titre'].touched ||
            modifierForm.controls['titre'].dirty)">
            <div *ngIf="modifierForm.controls['titre'].errors.required" class="red">
                Titre est obligatoire

            </div>
            <div *ngIf="modifierForm.controls['titre'].errors.minlength" class="red">
                Titre est contient min 3 charactere

            </div>
            <div *ngIf="modifierForm.controls['titre'].errors.maxlength" class="red">
                Titre est contient max 20 charactere

            </div>

            </div>
           
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="nom" id="nom" formControlName="nom"  placeholder="Entrer Nom Examen" required>
              </div>
              <div *ngIf="modifierForm.controls['nom'].invalid && (modifierForm.controls['nom'].touched ||
            modifierForm.controls['nom'].dirty)">
            <div *ngIf="modifierForm.controls['nom'].errors.required" class="red">
                Nom est obligatoire

            </div>
            <div *ngIf="modifierForm.controls['nom'].errors.minlength" class="red">
                Nom est contient min 3 charactere

            </div>
            <div *ngIf="modifierForm.controls['nom'].errors.maxlength" class="red">
                Nom est contient max 20 charactere

            </div>

            </div>
              <div class="form-group mt-3">
                <input type="date" class="form-control" name="date" id="date" formControlName="date"   placeholder="Entrer Date" required>
              </div>
              <div *ngIf="modifierForm.controls['date'].invalid && (modifierForm.controls['date'].touched ||
              modifierForm.controls['date'].dirty)">
              <div *ngIf="modifierForm.controls['date'].errors.required" class="red">
                  Date est obligatoire
  
              </div>
              
              </div>
              
              <div class="form-group mt-3">
                <input type="heure" class="form-control" name="heure" id="heure" formControlName="heure"  placeholder="Entrer Heure" required>
              </div>
              <div *ngIf="modifierForm.controls['heure'].invalid && (modifierForm.controls['heure'].touched ||
            modifierForm.controls['heure'].dirty)">
            <div *ngIf="modifierForm.controls['heure'].errors.required" class="red">
                Heure est obligatoire

            </div>
            <div *ngIf="modifierForm.controls['heure'].errors.minlength" class="red">
                Heure est contient min 3 charactere

            </div>
            <div *ngIf="modifierForm.controls['heure'].errors.maxlength" class="red">
                Heure est contient max 20 charactere

            </div>

            </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="salle" id="salle" formControlName="salle"   placeholder="Entrer Nom De Salle" required>
              </div>
              <div *ngIf="modifierForm.controls['salle'].invalid && (modifierForm.controls['salle'].touched ||
              modifierForm.controls['salle'].dirty)">
              <div *ngIf="modifierForm.controls['salle'].errors.required" class="red">
                  Salle est obligatoire
  
              </div>
              <div *ngIf="modifierForm.controls['salle'].errors.minlength" class="red">
                  Salle est contient min 3 charactere
  
              </div>
              <div *ngIf="modifierForm.controls['salle'].errors.maxlength" class="red">
                  Salle est contient max 20 charactere
  
              </div>
  
              </div>
              
            
            <div class="text-center"><button type="submit" (click)="update()" >Modifier Examens</button></div> <br>
            <div class="text-center"><button type="submit" (click)="retour()" >Retour</button></div>
          </form>

        </div>
        <div style="margin:50px" class="serv"> 
        <img class="img-fluid" src="assets/img/update.webp" alt="" />
</div>
      </div>

    </div>
  </section>