<div class="course-item">
    <img src="{{inputCours.image}}" class="img-fluid" alt="...">
    <div class="course-content">
      <div class="d-flex justify-content-between align-items-center mb-3">
        <h4>{{inputCours.title}}</h4>
        <p class="price">{{inputCours.price}}</p>
      </div>

      <h3><a href="course-details.html">{{inputCours.titre}}</a></h3>
      <p>{{inputCours.description}}</p>
      <div class="trainer d-flex justify-content-between align-items-center">
        <div class="trainer-profile d-flex align-items-center">
          <img src="{{inputCours.avatar}}" class="img-fluid" alt="">
          <span>{{inputCours.name}}</span>
        </div>
        <div class="trainer-rank d-flex align-items-center">
          <i class="bx bx-user"></i>&nbsp;{{inputCours.symbole}}
          &nbsp;&nbsp;
          <i class="bx bx-heart"></i>&nbsp;{{inputCours.sympole}}
        </div>
      </div>
    </div>
  </div>